%div.promo
  %div.container
    %div.jumbotron
      %h1 Łatwe śledzenie wydatków
      %p.lead Bilki to prosta w użyciu aplikacja do kontroli Twoich finansów.

      = link_to "Zacznij już dziś", new_user_registration_path, class: "btn btn-primary btn-lg"

%div.info.features
  %div.container
    %div.headline
      %h2 Usprawnij swoje finanse
      %p.lead Zapisując wydatki możesz lepiej zrozumieć swoje finanse.

    %div.row
      %div.col-md-6
        %h3 Kontroluj wydatki
        %p.lead Raportuj codzienne wydatki zapisując je w systemie. Dzięki temu uda Ci się zidentyfikować obszary w których możesz zaoszczędzić.

      %div.col-md-6
        %h3 Analizuj budżet
        %p.lead Możesz śledzić ilość wydanych pieniędzy w różnych sferach swojego życia. Wydajesz zbyt dużo na imprezy, używki? Sprawdź ile.